In [ ]:
##Here im uploading all my data

In [1]:
from pymongo import MongoClient
import os
from dotenv import load_dotenv
import pandas as pd
load_dotenv()

True

In [2]:
load_dotenv()
username = os.getenv("mongouser")
password = os.getenv("mongopass")

In [3]:
url_connection = f"mongodb+srv://{username}:{password}@cluster0.sbiv1.mongodb.net/test"

In [4]:
client = MongoClient(url_connection)
client

MongoClient(host=['cluster0-shard-00-00.sbiv1.mongodb.net:27017', 'cluster0-shard-00-01.sbiv1.mongodb.net:27017', 'cluster0-shard-00-02.sbiv1.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, authsource='admin', replicaset='atlas-ajkbxk-shard-0', tls=True)

In [10]:
db = client.get_database("Pinguinos")

In [11]:
#colecciones
penguinsize = db.size

In [12]:
list(penguinsize.find({}))[:1]

[{'_id': ObjectId('6220a30b1aea840f8de5bfc9'),
  'species': 'Adelie',
  'island': 'Torgersen',
  'culmen_length_mm': '39.1',
  'culmen_depth_mm': '18.7',
  'flipper_length_mm': '181',
  'body_mass_g': '3750',
  'sex': 'MALE'}]

In [14]:
df = pd.read_csv("../Data/penguins_size.csv")
df.head()

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE

In [56]:
df.isna().sum()*100/df.shape[0]
# no tengo un % grande de nulos

species              0.000000
island               0.000000
culmen_length_mm     0.581395
culmen_depth_mm      0.581395
flipper_length_mm    0.581395
body_mass_g          0.581395
sex                  2.906977
dtype: float64

In [ ]:
df["sex"].unique()