In [ ]:
##Here im uploading all my data

In [33]:
from pymongo import MongoClient
import os
from dotenv import load_dotenv
import pandas as pd
load_dotenv()

True

In [13]:
load_dotenv()
username = os.getenv("mongouser")
password = os.getenv("mongopass")

In [14]:
url_connection = f"mongodb+srv://{username}:{password}@cluster0.sbiv1.mongodb.net/test"

In [15]:
client = MongoClient(url_connection)
client

MongoClient(host=['cluster0-shard-00-01.sbiv1.mongodb.net:27017', 'cluster0-shard-00-00.sbiv1.mongodb.net:27017', 'cluster0-shard-00-02.sbiv1.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, authsource='admin', replicaset='atlas-ajkbxk-shard-0', tls=True)

In [16]:
db = client.get_database("Pinguinos")

In [30]:
#colecciones
penguindatos = db.iter
penguinsize = db.size

In [28]:
#los dos siguientes son apra verificar si la data esta carga ok
list(penguindatos.find({}))[:1]

[{'_id': ObjectId('6220a2ec1aea840f8de5be6f'),
  'studyName': 'PAL0708',
  'Sample Number': '1',
  'Species': 'Adelie Penguin (Pygoscelis adeliae)',
  'Region': 'Anvers',
  'Island': 'Torgersen',
  'Stage': 'Adult, 1 Egg Stage',
  'Individual ID': 'N1A1',
  'Clutch Completion': 'Yes',
  'Date Egg': '11/11/07',
  'Culmen Length (mm)': '39.1',
  'Culmen Depth (mm)': '18.7',
  'Flipper Length (mm)': '181',
  'Body Mass (g)': '3750',
  'Sex': 'MALE',
  'Comments': 'Not enough blood for isotopes.'}]

In [31]:
list(penguinsize.find({}))[:1]

[{'_id': ObjectId('6220a30b1aea840f8de5bfc9'),
  'species': 'Adelie',
  'island': 'Torgersen',
  'culmen_length_mm': '39.1',
  'culmen_depth_mm': '18.7',
  'flipper_length_mm': '181',
  'body_mass_g': '3750',
  'sex': 'MALE'}]

In [40]:
df = pd.read_csv("../Data/penguins_lter.csv")
df.head()

,studyName,Sample Number,Species,Region,Island,Stage,Individual ID,Clutch Completion,Date Egg,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo),Comments
0,PAL0708,1,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A1,Yes,11/11/07,39.1,18.7,181.0,3750.0,MALE,NaN,NaN,Not enough blood for isotopes.
1,PAL0708,2,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A2,Yes,11/11/07,39.5,17.4,186.0,3800.0,FEMALE,8.94956,-24.69454,NaN
2,PAL0708,3,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A1,Yes,11/16/07,40.3,18.0,195.0,3250.0,FEMALE,8.36821,-25.33302,NaN
3,PAL0708,4,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A2,Yes,11/16/07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Adult not sampled.
4,PAL0708,5,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N3A1,Yes,11/16/07,36.7,19.3,193.0,3450.0,FEMALE,8.76651,-25.32426,NaN

In [41]:
df.shape

(344, 17)

In [42]:
df.isna().sum()*100/df.shape[0]

studyName               0.000000
Sample Number           0.000000
Species                 0.000000
Region                  0.000000
Island                  0.000000
Stage                   0.000000
Individual ID           0.000000
Clutch Completion       0.000000
Date Egg                0.000000
Culmen Length (mm)      0.581395
Culmen Depth (mm)       0.581395
Flipper Length (mm)     0.581395
Body Mass (g)           0.581395
Sex                     2.906977
Delta 15 N (o/oo)       4.069767
Delta 13 C (o/oo)       3.779070
Comments               92.441860
dtype: float64

In [53]:
#voy a quitar las columnas que no me interesan, Comments,studyName,Stage no aporta nada, Clutch Completion no se qeue es S
#quise establecer Individual ID como indice pero me da error
df.drop(columns=["Comments","studyName","Clutch Completion","Sample Number","Stage","Date Egg","Delta 15 N (o/oo)","Delta 13 C (o/oo)"])

,Species,Region,Island,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex
Individual ID,,,,,,,,
N1A1,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,39.1,18.7,181.0,3750.0,MALE
N1A2,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
N2A1,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
N2A2,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,NaN,NaN,NaN,NaN,NaN
N3A1,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
...,...,...,...,...,...,...,...,...
N38A2,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,NaN,NaN,NaN,NaN,NaN
N39A1,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
N39A2,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,50.4,15.7,222.0,5750.0,MALE
N43A1,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
N43A2,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,49.9,16.1,213.0,5400.0,MALE

In [55]:
df = pd.read_csv("../Data/penguins_size.csv")
df.head()

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE

In [56]:
df.isna().sum()*100/df.shape[0]
# no tengo un % grande de nulos

species              0.000000
island               0.000000
culmen_length_mm     0.581395
culmen_depth_mm      0.581395
flipper_length_mm    0.581395
body_mass_g          0.581395
sex                  2.906977
dtype: float64