In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("../Data/penguins_size.csv")
df.head()

,Unnamed: 0,Species,Island,Culmen Length(mm),Culmen Depth(mm),Flipper Lengt (mm),Body Mass (gr),Sex
0,0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,3,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
4,4,Adelie,Torgersen,39.3,20.6,190.0,3650.0,MALE

In [4]:
df

,Unnamed: 0,Species,Island,Culmen Length(mm),Culmen Depth(mm),Flipper Lengt (mm),Body Mass (gr),Sex
0,0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,3,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
4,4,Adelie,Torgersen,39.3,20.6,190.0,3650.0,MALE
...,...,...,...,...,...,...,...,...
337,337,Gentoo,Biscoe,47.2,13.7,214.0,4925.0,FEMALE
338,338,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
339,339,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
340,340,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
341,341,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

In [25]:
df.shape

(342, 8)

In [26]:
df.duplicated().sum()

0

In [34]:
df = df.drop(columns=["Unnamed: 0"])

In [35]:
df.isna().sum()*100/df.shape[0]
# no tengo un % grande de nulos

Species               0.0
Island                0.0
Culmen Length(mm)     0.0
Culmen Depth(mm)      0.0
Flipper Lengt (mm)    0.0
Body Mass (gr)        0.0
Sex                   0.0
dtype: float64

In [107]:
df["sex"].unique()

array(['MALE', 'FEMALE', nan, '.'], dtype=object)

In [108]:
df =df.dropna(thresh=3)

In [109]:
df["sex"].unique()

array(['MALE', 'FEMALE', nan, '.'], dtype=object)

In [110]:
df.isna().sum()

species              0
island               0
culmen_length_mm     0
culmen_depth_mm      0
flipper_length_mm    0
body_mass_g          0
sex                  8
dtype: int64

In [113]:
def nan_to_no(elemento):
    if str(elemento) == "nan":
        return "Unknown"
    return elemento

In [114]:
def dot_to_no(elemento):
    if elemento == ".":
        return "Unknown"
    return elemento

In [115]:
df["sex"]=df["sex"].apply(nan_to_no)

In [116]:
df["sex"]=df["sex"].apply(dot_to_no)

In [117]:
df["sex"].unique()

array(['MALE', 'FEMALE', 'Unknown'], dtype=object)

In [82]:
df["species"].unique()

array(['Adelie', 'Chinstrap', 'Gentoo'], dtype=object)

In [118]:
df["island"].unique()

array(['Torgersen', 'Biscoe', 'Dream'], dtype=object)

In [119]:
df.dtypes

species               object
island                object
culmen_length_mm     float64
culmen_depth_mm      float64
flipper_length_mm    float64
body_mass_g          float64
sex                   object
dtype: object

In [120]:
df.columns

Index(['species', 'island', 'culmen_length_mm', 'culmen_depth_mm',
       'flipper_length_mm', 'body_mass_g', 'sex'],
      dtype='object')

In [6]:
df.columns = ['id','Species', 'Island', 'Culmen Length(mm)', 'Culmen Depth(mm)', 'Flipper Lengt (mm)', 'Body Mass (gr)', 'Sex']
df.columns

Index(['id', 'Species', 'Island', 'Culmen Length(mm)', 'Culmen Depth(mm)',
       'Flipper Lengt (mm)', 'Body Mass (gr)', 'Sex'],
      dtype='object')

In [7]:
df.shape

(342, 8)

In [8]:
df.head()

,id,Species,Island,Culmen Length(mm),Culmen Depth(mm),Flipper Lengt (mm),Body Mass (gr),Sex
0,0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,3,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
4,4,Adelie,Torgersen,39.3,20.6,190.0,3650.0,MALE

In [10]:
df.to_csv("../Data/penguins_size.csv")