In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
df = pd.read_csv("../Data/penguins_size.csv")
df.head()

,Unnamed: 0,id,Species,Island,Culmen Length(mm),Culmen Depth(mm),Flipper Lengt (mm),Body Mass (gr),Sex
0,0,0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,1,1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,2,2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,3,3,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
4,4,4,Adelie,Torgersen,39.3,20.6,190.0,3650.0,MALE

In [3]:
df

,Unnamed: 0,id,Species,Island,Culmen Length(mm),Culmen Depth(mm),Flipper Lengt (mm),Body Mass (gr),Sex
0,0,0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,1,1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,2,2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,3,3,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
4,4,4,Adelie,Torgersen,39.3,20.6,190.0,3650.0,MALE
...,...,...,...,...,...,...,...,...,...
337,337,337,Gentoo,Biscoe,47.2,13.7,214.0,4925.0,FEMALE
338,338,338,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
339,339,339,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
340,340,340,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
341,341,341,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

In [25]:
df.shape

(342, 8)

In [10]:
df.duplicated().sum()

0

In [11]:
df.isna().sum()*100/df.shape[0]
# no tengo un % grande de nulos

Unnamed: 0            0.0
id                    0.0
Species               0.0
Island                0.0
Culmen Length(mm)     0.0
Culmen Depth(mm)      0.0
Flipper Lengt (mm)    0.0
Body Mass (gr)        0.0
Sex                   0.0
dtype: float64

In [107]:
df["sex"].unique()

array(['MALE', 'FEMALE', nan, '.'], dtype=object)

In [108]:
df =df.dropna(thresh=3)

In [109]:
df["sex"].unique()

array(['MALE', 'FEMALE', nan, '.'], dtype=object)

In [110]:
df.isna().sum()

species              0
island               0
culmen_length_mm     0
culmen_depth_mm      0
flipper_length_mm    0
body_mass_g          0
sex                  8
dtype: int64

In [113]:
def nan_to_no(elemento):
    if str(elemento) == "nan":
        return "Unknown"
    return elemento

In [114]:
def dot_to_no(elemento):
    if elemento == ".":
        return "Unknown"
    return elemento

In [115]:
df["sex"]=df["sex"].apply(nan_to_no)

In [116]:
df["sex"]=df["sex"].apply(dot_to_no)

In [117]:
df["sex"].unique()

array(['MALE', 'FEMALE', 'Unknown'], dtype=object)

In [82]:
df["species"].unique()

array(['Adelie', 'Chinstrap', 'Gentoo'], dtype=object)

In [118]:
df["island"].unique()

array(['Torgersen', 'Biscoe', 'Dream'], dtype=object)

In [119]:
df.dtypes

species               object
island                object
culmen_length_mm     float64
culmen_depth_mm      float64
flipper_length_mm    float64
body_mass_g          float64
sex                   object
dtype: object

In [120]:
df.columns

Index(['species', 'island', 'culmen_length_mm', 'culmen_depth_mm',
       'flipper_length_mm', 'body_mass_g', 'sex'],
      dtype='object')

In [8]:
df.columns = ['id','Species', 'Island', 'Culmen Length(mm)', 'Culmen Depth(mm)', 'Flipper Lengt (mm)', 'Body Mass (gr)', 'Sex']
df.columns

Index(['id', 'Species', 'Island', 'Culmen Length(mm)', 'Culmen Depth(mm)',
       'Flipper Lengt (mm)', 'Body Mass (gr)', 'Sex'],
      dtype='object')

In [7]:
df.shape

(342, 8)

In [4]:
df.head()

,Unnamed: 0,id,Species,Island,Culmen Length(mm),Culmen Depth(mm),Flipper Lengt (mm),Body Mass (gr),Sex
0,0,0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,1,1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,2,2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,3,3,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
4,4,4,Adelie,Torgersen,39.3,20.6,190.0,3650.0,MALE

In [17]:
df.head()

,Unnamed: 0,id,Species,Island,Culmen Length(mm),Culmen Depth(mm),Flipper Lengt (mm),Body Mass (gr),Sex
0,0,0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,1,1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,2,2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,3,3,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
4,4,4,Adelie,Torgersen,39.3,20.6,190.0,3650.0,MALE

In [47]:
df = df.drop(columns=["id"])

KeyError: "['Unnamed: 0'] not found in axis"

In [48]:
df.head()

,Species,Island,Culmen Length(mm),Culmen Depth(mm),Flipper Lengt (mm),Body Mass (gr),Sex,Island Longitude,Island Latitude
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE,64Â°05â€²00â€³,64Â°46â€²00â€³
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE,64Â°05â€²00â€³,64Â°46â€²00â€³
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE,64Â°05â€²00â€³,64Â°46â€²00â€³
3,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE,64Â°05â€²00â€³,64Â°46â€²00â€³
4,Adelie,Torgersen,39.3,20.6,190.0,3650.0,MALE,64Â°05â€²00â€³,64Â°46â€²00â€³

In [66]:
df["Island"].unique()

array(['Torgersen', 'Biscoe', 'Dream'], dtype=object)

In [48]:

#adding island lat long

In [24]:
#Torgersen
url="https://es.wikipedia.org/wiki/Isla_Torgersen"
resTor = requests.get(url)
resTor

In [25]:
soup = BeautifulSoup(resTor.text)

In [26]:
Lon_Tor = soup.find("span", {"class": "longitude"})
Lon_Tor = Lon_Tor.text.replace("O","").rstrip( )
Lon_Tor

'64Â°05â€²00â€³'

In [27]:
Lat_Tor = soup.find("span", {"class": "latitude"})
Lat_Tor = Lat_Tor.text.replace("S","").rstrip( )
Lat_Tor

'64Â°46â€²00â€³'

In [28]:
#Biscoe
url="https://es.wikipedia.org/wiki/Biscoe"
resBis = requests.get(url)
soup = BeautifulSoup(resBis.text)
resBis

In [29]:
Lon_Bis = soup.find("span", {"class": "longitude"})
Lon_Bis = Lon_Bis.text.replace("O","").rstrip( )
Lon_Bis

'79Â°46â€²49â€³'

In [42]:
Lat_Bis = soup.find("span", {"class": "latitude"})
Lat_Bis = Lat_Bis.text.replace("S","").rstrip( )
Lat_Bis

'64Â°44â€²00â€³'

In [31]:
#Dream
url="https://es.wikipedia.org/wiki/Isla_Dream"
resDrm = requests.get(url)
soup = BeautifulSoup(resDrm.text)
resDrm

In [32]:
Lon_Drm = soup.find("span", {"class": "longitude"})
Lon_Drm = Lon_Drm.text.replace("O","").rstrip( )
Lon_Drm

'64Â°14â€²00â€³'

In [33]:
Lat_Drm = soup.find("span", {"class": "latitude"})
Lat_Drm = Lat_Drm.text.replace("S","").rstrip( )
Lat_Drm

'64Â°44â€²00â€³'

In [49]:
#agrego la fila que se va a referir a mis
def fila_lon(fila, datos):
    return datos[fila] 
Longitud = {    
     "Torgersen": Lon_Tor,
     "Biscoe":Lon_Bis,
     "Dream":Lon_Drm
 }   
df["Island Longitude"] = df["Island"].apply(fila_lon, args =(Longitud, ))

def fila_lat(fila, datos):
    return datos[fila] 
Latitud = {    
     "Torgersen": Lat_Tor,
     "Biscoe":Lat_Bis,
     "Dream":Lat_Drm
 }   
df["Island Latitude"] = df["Island"].apply(fila_lon, args =(Latitud, ))
df

,Species,Island,Culmen Length(mm),Culmen Depth(mm),Flipper Lengt (mm),Body Mass (gr),Sex,Island Longitude,Island Latitude
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE,64Â°05â€²00â€³,64Â°46â€²00â€³
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE,64Â°05â€²00â€³,64Â°46â€²00â€³
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE,64Â°05â€²00â€³,64Â°46â€²00â€³
3,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE,64Â°05â€²00â€³,64Â°46â€²00â€³
4,Adelie,Torgersen,39.3,20.6,190.0,3650.0,MALE,64Â°05â€²00â€³,64Â°46â€²00â€³
...,...,...,...,...,...,...,...,...,...
337,Gentoo,Biscoe,47.2,13.7,214.0,4925.0,FEMALE,79Â°46â€²49â€³,64Â°44â€²00â€³
338,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE,79Â°46â€²49â€³,64Â°44â€²00â€³
339,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE,79Â°46â€²49â€³,64Â°44â€²00â€³
340,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE,79Â°46â€²49â€³,64Â°44â€²00â€³
341,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE,79Â°46â€²49â€³,64Â°44â€²00â€³

In [ ]:
"""1datos["CategorÃ­a"] = np.select(condiciones, elecciones, -1)

2, 'Chennai': 'Anuj'} 
  
df = pd.DataFrame(data) 
  
df['Address'] = address 
  
df """

In [50]:
df.to_csv("../Data/penguins_size.csv")